@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');



body {
    margin: 0;
    font-family: "Electrolize", sans-serif;
    overflow: auto;
    @apply bg-gray-50; 
}



@media(min-width: 768px) {
    body{
        overflow: hidden;
    }
  
    .categories::-webkit-scrollbar {
        display: none;
    }
    .products::-webkit-scrollbar {
        display: none;
    }
    .cart {
        width: 100%;
    }
}   

